.App {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


.button {
  background-color: #fd9400; /* Orange */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


.button:active {
  background-color: #fd9400;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.table{
  text-align: center;
}